<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap-grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap-reboot.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">


</head>
<body>

<th:block th:include="/_navBar"></th:block>

<div class="container" >
    <div class="row col-lg-12">
        <div class="col-lg-8">
            <ul class="list-group">
                <li class="list-group-item active row" style="z-index: 1;">
                    <div class="col-lg-4">
                        <p th:utext="${productInfo.id} + ', ' + ${productInfo.name}"></p>
                    </div>
                    <div class="col-lg-2">
                        <form th:action="@{/admin/delete_product}" method="post">
                            <input name="id" type="hidden" th:value="${productInfo.id}">
                            <input type="submit" value="DELETE">
                        </form>
                    </div>
                    <div class="col-lg-2">
                        <form th:action="@{/admin/update_product}" method="post">
                            <input type="hidden" th:value="${productInfo.id}">
                            <input type="submit" value="UPDATE">
                        </form>
                    </div>
                </li>
                <li th:utext="${productInfo.description}" class="list-group-item"></li>
                <li th:utext="${productInfo.price}" class="list-group-item"></li>
                <li th:utext="${productInfo.discount}" class="list-group-item"></li>
                <li th:utext="${productInfo.quantity}" class="list-group-item"></li>
                <li class="list-group-item">
                    <div class="btn-group btn-group-sm" role="group">
                        <h4>Tags: </h4>
                    </div>
                    <div class="btn-group btn-group-sm" role="group" th:each="c : ${productInfo.tag}">
                        <form style="margin-bottom: 0;" method="post"
                              th:action="@{'/admin/product/'+${productInfo.id}+'/delete_tag'}">
                            <input name="tag_id" type="hidden" th:value="${c.id}">
                            <input th:value="${c.name}" type="submit"  class="btn btn-secondary">
                        </form>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                        <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Add tag
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                            <form th:each="c : ${tags}" style="margin-bottom: 0;" method="post"
                                  th:action="@{'/admin/product/'+${productInfo.id}+'/add_tag'}">
                                <input name="tag_id" type="hidden" th:id="${c.name}" th:value="${c.id}">
                                <input class="dropdown-item" type="submit" th:value="${c.name}">
                            </form>
                        </div>
                    </div>
                    <div class="btn-group btn-group-sm warning" role="group" th:if="${tagExist}">
                        <p th:utext="${tagExist}"></p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="btn-group btn-group-sm" role="group">
                        <h4>Categories: </h4>
                    </div>
                    <div class="btn-group btn-group-sm" role="group" th:each="c : ${productInfo.categories}">
                        <form style="margin-bottom: 0;" method="post"
                              th:action="@{'/admin/product/'+${productInfo.id}+'/delete_category'}">
                            <input name="category_id" type="hidden" th:value="${c.id}">
                            <input th:value="${c.name}" type="submit"  class="btn btn-secondary">
                        </form>
                    </div>
                    <div class="btn-group btn-group-sm" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Add category
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <form th:each="c : ${categories}" style="margin-bottom: 0;" method="post"
                                      th:action="@{'/admin/product/'+${productInfo.id}+'/add_category'}">
                                    <input name="category_id" type="hidden" th:id="${c.name}" th:value="${c.id}">
                                    <input class="dropdown-item" type="submit" th:value="${c.name}">
                                </form>
                        </div>
                    </div>
                    <div class="btn-group btn-group-sm warning" role="group" th:if="${categoryExist}">
                        <p th:utext="${categoryExist}"></p>
                    </div>
                </li>
            </ul>
            <div class="row">
                <div class="col-lg-4" th:if="${product_image}" th:each="i : ${product_image}">
                    <form th:action="@{/delete_img}" method="post">
                        <input name="product_id" type="hidden" th:value="${productInfo.id}">
                        <input name="img_id" type="hidden" th:value="${i.id}">
                        <input type="submit" class="close" value="x" aria-label="Close">
                        </input>
                    </form>
                    <div class="img-phone">
                        <img th:src="'/static/image_products/'+${i.name}" alt="..." class="img-thumbnail">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="warning">
                <h4 th:if="${manyImg}" th:utext="${manyImg}"></h4>
                <p th:if="${advice}" th:utext="${advice}"></p>
            </div>
            <div><p>Add img</p></div>
            <form th:action="@{/add_image}" enctype="multipart/form-data" method="post">
                <input type="hidden" name="id" th:value="${productInfo.id}">
                <input type="file" name="file">
                <input type="submit" value="ADD">
            </form>
        </div>
    </div>

</div>

</body>
</html>