<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap-grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap-reboot.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
</head>
<body>

<th:block th:include="/_navBar"></th:block>

<div class="container" >
    <div class="row">
        <div class="col-lg-8" >
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <!--<th scope="col">Discount</th>-->
                    <th scope="col">Quantity</th>
                </tr>
                </thead>
                <tbody th:each="p : ${products}">
                <tr>
                    <th scope="row"><a th:href="'/admin/product/' + ${p.id}" th:utext="${p.id}"></a></th>
                    <td th:utext="${p.name}"></td>
                    <td th:utext="${p.price}"></td>
                    <!--<td th:utext="${p.discount}"></td>-->
                    <td th:utext="${p.quantity}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 text-center">
            <br>
            <br>
            <div>
                <h4><a th:href="@{/admin/add_product}">Add new product</a></h4>
            </div>
        </div>
    </div>
</div>

</body>
</html>