<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap-grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap-reboot.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
</head>
<body>

<th:block th:include="/_navBar"></th:block>

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">SHOP-on</h1>
            <p class="lead">This is a internet shop. Here buy are electronics products.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-12">
            <h3>Last update</h3>
        </div>
        <div class="col-lg-3" style="background-color: white; padding-top: 2%;" th:each="p : ${products}">
            <a th:href="'product/'+${p.id}">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <div class="img-phone">
                        <img class="card-img-top" style="height: 300px; width: auto;" th:if="${p.imgProducts.size()} != 0" th:src="'/static/image_products/'+${p.imgProducts.get(0).name}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 th:utext="${p.name}" class="card-title">Card title</h5>
                        <h5 th:utext="${p.price}" class="card-title">content.</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>